@model WebApplication4.Models.SignUpConfirmViewModel
@{
    ViewData["Title"] = "Sign up";
}

<h2>Sign up</h2>

<form class="form-horizontal" asp-action="SignUpConfirm">
    <div asp-validation-summary="All"></div>
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="SecondName" type="hidden" />
    <input asp-for="DateOfBirth" type="hidden" />
    <input asp-for="Gender" type="hidden" />
    <input asp-for="WasFound" type="hidden" />
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="Email" asp-for="Email" class="form-control" value="@Model.Email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="RememberMe"/>
                    Remember?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-primary">Complete sign up</button>
        </div>
    </div>
</form>